// Variable overrides
$sidebar-dark-bg: white;
$theme-colors: (
  "primary": #5a82da,
  "indo": blue,
  "eng": red,
);
$font-family-base: Roboto;
$sidebar-dark-nav-link-color: black;

$sidebar-dark-nav-link-icon-color: black;
$sidebar-dark-nav-link-active-bg: #5a82da;
